@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: sans;
  src: url("../public/fonts/sans-normal.ttf");
}
@font-face {
  font-family: sans-bold;
  src: url("../public/fonts/sans-bold.ttf");
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.sans{
  font-family: sans !important;
}
.sans-bold{
  font-family: sans-bold;
}