@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: sans;
  src: url("../public/fonts/sans-normal.ttf");
}
@font-face {
  font-family: sans-bold;
  src: url("../public/fonts/sans-bold.ttf");
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.sans{
  font-family: sans !important;
}
.sans-bold{
  font-family: sans-bold;
}
/* Navbar */
.sticky-nav{
  position: fixed;
  top: -90px;
  left: 21%;
  transform: translateY(100%);
  z-index: 9999;
  transition: transform 0.3s;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 2px solid #f26322;
}
/* Slider | Landing Top Slider*/
.landing-top-slider{
  width: 100%;
  z-index: 0 !important;
}
.landing-top-slider .slide-item{
  width: 100% !important;
  z-index: 0 !important;
}
.landing-top-slider .swiper-button-prev::after ,.landing-top-slider .swiper-button-next::after{
  padding: 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
  color: #f26322;
}
.landing-top-slider .swiper-pagination-bullet{
  background-color: #f26322 !important;
  width: 18px !important;
  height: 18px !important;
  border: 1px solid #ffffff !important;
}
.landing-top-slider .swiper-pagination-horizontal{
  margin-bottom: -10px;
  padding: 15px 0px 10px 0px;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 100%);
}
/* Options */
.top-options{
  width: 100%;
  height: 480px;
}
.bottom-options{
  width: 100%;
  height: 480px;
}
.bottom-line{
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #f9cf55;
}
.squar-linze{
  width: 529px !important;
  height: 379px !important;
}
.shapes-bg{
  background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%) , url("../public/img/shape-bg.jpg");
  background-size: cover;
}
/* MegaMenu */
.mega-menu-content{
  z-index: 9999  !important;
  position: absolute;
  top: 150%;
  right: 0px;
}
.mega-show{
  display: block;
  transform: translate(0px);
  opacity: 1;
  visibility: visible;
  transition: all .2s ease;
}
/* ProductsMegaMenu */
.product-mega{
  width: 100%;
  height: 100%;
  background-image: url("../public/img/products-mega.jpg");
}
/* Suggestions */
.sug-bg{
  height: 640px;
  background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%) , url("../public/img/suggestion-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.suggestion-slider{
  width: 1120px;
  height: 80%;
  z-index: 0 !important;
  position: relative;
  }
.suggestion-slider .slide-item{
  width: 100% !important;
  z-index: 0 !important;
}
.suggestion-slider .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestion-slider .swiper-button-prev::after ,.suggestion-slider .swiper-button-next::after{
  padding: 15px;
  border-radius: 4px;
  color: #f26322;
  z-index: 10;
  position: absolute;
}
.suggestion-slider .swiper-pagination-bullet{
  background-color: #f26322 !important;
  width: 18px !important;
  height: 18px !important;
  border: 1px solid #ffffff !important;
}
.suggestion-slider .swiper-pagination-horizontal{
  margin-bottom: -10px;
  padding: 15px 0px 10px 0px;
}
.suggest-img{
  width: 90% !important;
  height: 100%;
  border-radius: 18px;
}
/* Animations */
@keyframes to-up {
  from{
    transform: translateY(-100px);
  }to{
    transform: translateY(0px);
  }
}